.region-button {
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #fe0068;
  color: #fe0068;
  transition: 0.5s;
  background-color: #fff;
  margin-bottom: 20px;
}

.region-button:hover {
  box-shadow: 0px 0px 5px 1px grey;
  transform: scale(1.01)
}

.loge-home{
  height: 100vh;
}

.logoselector {
  display: flex;
  margin: 20px;
  margin-left:150px;
  align-items: center;
}

/*selection country*/

.selection-country{
  margin-left: 200px;
}

/*Card country*/

.card-country {
  background-color: #ddddff;
  display: flex;
  align-items: center;  
  border: .5px solid rgb(170, 170, 170);
  height: 55px;
  margin-left: 150px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  transition: .2s;
}

.card-country:hover{
  box-shadow: 0px 0px 5px 1px grey;
  transform: scale(1.01)
}

.card-country img {
  padding: 10px;
  height: 55px;
}
