.view {
  background-color: #ffff;
  border-radius: 8px;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
}

.rec{
  color: rgb(21, 204, 174)
}

/*Targeta por defecto*/

.no-select {
  text-align: center;
  display: block;
  margin-top: 35px;
  color: blue;
  font-size: 20px;
}

.no-select img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.no-select span{
  color: rgb(233, 0, 102); 
}


/*informacion del reclutador*/

.info{
  overflow: auto
}

ul {
  list-style: square inside;
}


.estado{
  color:rgb(233, 0, 102)
}