@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  background-color: rgb(237, 241, 247);
  font-family: "Hind Vadodara", sans-serif;
}

#examples .example {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 45px;
}
#examples .example .hover {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.1s ease-in-out;
  position: relative;
}
#examples .example .hover:before,
#examples .example .hover:after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.25;
  opacity: 0;
  background-color: #fe0068;
}
#examples .example .hover.hover-1:before,
#examples .example .hover.hover-1:after {
  left: 0;
}

#examples .example:hover {
  cursor: pointer;
}
#examples .example:hover .hover:before,
#examples .example:hover .hover:after {
  width: 100%;
  opacity: 1;
}
.colorButtonSave {
  background-color: #e90066;
  width: 200px;
  font-family: "Hind Vadodara", sans-serif;
  height: 48px;
  line-height: 18px;
  font-size: 16px;
  font-style: normal;
  margin-left: 30px;
}
.colorButtonFormCancel {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  background-color: white;
  font-family: "Hind Vadodara", sans-serif;
  border: 1px solid #e90066;
  color: #e90066;
  width: 200px;
  height: 48px;
  margin-left: 100px;
}

.buttons {
  width: 800px;
  position: static;
  height: 50px;
  left: 188px;
  top: 504px;
  flex: none;
  order: 5;
  align-self: center;
  flex-grow: 0;
  margin: 32px 0px;
}
.buttonAdd {
  background: #e90066;
  border-radius: 8px;
}
.buttonBlue {
  background-color: #0a26ee;
  width: 160px;
  height: 48px;
  border-radius: 8px;
}
.form {
  width: 810px;
}

.input {
  height: 50px;
}
.inputDescription {
  height: 153px;
}

.label {
  position: absolute;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  align-items: center;
}

.navbar {
  background-color: white;
}

.logo {
  width: 230px;
  height: 35px;
  margin-top: 18px;
}
.bienvenida {
  margin-left: 315px;
}

.backView {
  height: 289px;
  background-color: #000df1;
}

.stepper {
  height: 100px;
}

.logo-gratis {
  bottom: 820px;
  left: 350px;
  position: absolute;
}


.scrollbox {
	float: left;
  max-height: 200px;
  margin: 4rem 2rem;
  overflow: auto;
	width: 250px;

	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn’t support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}